<a href="https://colab.research.google.com/github/sarabian/aprendiz/blob/main/tabuada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = int(input('Digite um número para calcular a tabuada:'))

print('\nTABUADA - MULTIPLICACAO')
print(f'\n{1}*{a} = {1*a}')
print(f'{2}*{a} = {2*a}')
print(f'{3}*{a} = {3*a}')
print(f'{4}*{a} = {4*a}')
print(f'{5}*{a} = {5*a}') 
print(f'{6}*{a} = {6*a}')          
print(f'{7}*{a} = {7*a}')           
print(f'{8}*{a} = {8*a}')        
print(f'{9}*{a} = {9*a}')         
print(f'{10}*{a}= {10*a}')

Digite um número para calcular a tabuada:8

TABUADA - MULTIPLICACAO

1*8 = 8
2*8 = 16
3*8 = 24
4*8 = 32
5*8 = 40
6*8 = 48
7*8 = 56
8*8 = 64
9*8 = 72
10*8= 80

In [4]:
contador = 0                #inicializacao 
while (contador < 15):
    print(contador)
    contador += 1 #icrementar
else:
    print("O loop foi encerrado!")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
O loop foi encerrado!

In [5]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

In [7]:
tabuada = 2
while tabuada <= 10:
    numero = 1
    while numero <= 10:
        print("%d x %d = %d" %(tabuada, numero, tabuada*numero))
        numero+=1   #numero = numero + 1
        tabuada+=1  #tabuada = tabuada + 1

2 x 1 = 2
3 x 2 = 6
4 x 3 = 12
5 x 4 = 20
6 x 5 = 30
7 x 6 = 42
8 x 7 = 56
9 x 8 = 72
10 x 9 = 90
11 x 10 = 110

In [10]:
print('=======TABUADA========')
num = int(input('Insira o Número inteiro: '))
print('{} x {} = {}'.format(num, 1, num*1))
print('{} x {} = {}'.format(num, 2, num*2))
print('{} x {} = {}'.format(num, 3, num*3))
print('{} x {} = {}'.format(num, 4, num*4))
print('{} x {} = {}'.format(num, 5, num*5))
print('{} x {} = {}'.format(num, 6, num*6))
print('{} x {} = {}'.format(num, 7, num*7))
print('{} x {} = {}'.format(num, 8, num*8))
print('{} x {} = {}'.format(num, 9, num*9))
print('{} x {} = {}'.format(num, 10, num*10))

=======TABUADA========
Insira o Número inteiro: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [3]:
produtos= ["ABC123","abd012","ABS111","AbB222"]

In [ ]:
text="abd012"
text=text.upper()
text=text.strip()
print(text)

In [ ]:
text="abd012"
text=text.upper()
text=text.strip()
print(text)

In [ ]:

text="abd012"
text=text.upper()
text=text.strip()
print(text)

In [4]:
def tratartext(text):
  text=text.upper()
  text=text.strip()
  return text

for i, produto in enumerate (produtos):
  produtos[i]=tratartext(produto)
print(produtos)

['ABC123', 'ABD012', 'ABS111', 'ABB222']